<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="stylesheet" href="/asset/css/index.css" />
    <link rel="stylesheet" href="/asset/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <img
          src="/asset/img/dumbways.png"
          alt="Dumbways Logo"
          style="width: 70px;"
        />
        <a href="/" class="nav-button" style="font-weight: 700">Home</a>
        <a href="/project" class="nav-button">Add Project</a>
        <a href="/testimonial" class="nav-button">Testimonials</a>
      </div>

      <div class="navbar-right">
        {{#if isLoggedIn}}
          <span class="welcome-message">Welcome, {{userName}}!</span>
          <a href="/logout" class="nav-button">Logout</a>
        {{else}}
          <a href="/login" class="nav-button">Login</a>
          <a href="/register" class="nav-button">Register</a>
        {{/if}}
        <a href="/contact" class="button">Contact Me</a>
      </div>
      <!-- Hamburger icon for mobile -->
      <div class="hamburger-menu">
        <i class="fas fa-bars" onclick="toggleHamburgerMenu()"></i>
      </div>
    </nav>

    <!-- Hamburger menu container for mobile view -->
    <div id="hamburger-container" class="hamburger-container hide">
      <h1 class="hamburger-container-item hamburger-active">
        <a style="color: white; text-decoration: none;" href="/"> Home </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/project">
          Add Project
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/contact">
          Contact Me
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none" href="/testimonial">
          Testimonials
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none" href="/logout">
          Logout
        </a>
      </h1>
      {{#unless isLoggedIn}}
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/login">
            Login
          </a>
        </h1>
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/register">
            Register
          </a>
        </h1>
      {{/unless}}
    </div>
    <main>
      <div class="container">
        <div class="content">
          <h1>Hi Welcome to my hut</h1>
          <p>
            I am a Computer Engineering Technology Student who is experienced in
            the world of graphic design, UI UX Designer, Web Programming, IoT
            Engineer. Have skills in API development , MySQL, control system
            management, system optimization, troubleshooting. Apart from that,
            they have the ability to lead, excellent communication skills,
            interpersonal skills, strong teamwork and negotiation, are highly
            adaptable, and able to work independently. Have an interest in
            working in Data Scientist, Data Analyst, Internet of things (IoT)
            Engineer, Full Stack Programming, Cyber Security.
          </p>
          <div class="buttons">
            <a href="https://wa.me/6281282315552" class="btn">Contact</a>
            <a
              href="asset/cv/CV_Rahiim Tahajjadan Zhaahir Haq.pdf"
              download
              class="btn download"
            >download CV <i class="fas fa-download"></i></a>
          </div>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/rahimhaq/"><i
                class="fab fa-linkedin"
              ></i></a>
            <a href="https://www.instagram.com/rahimhaq"><i
                class="fab fa-instagram"
              ></i></a>
            <a href="https://www.facebook.com/rahimhaq15/"><i
                class="fab fa-facebook"
              ></i></a>
            <a href="https://x.com/rahimhaq15"><i
                class="fab fa-twitter"
              ></i></a>
          </div>
        </div>
        <div class="profile-card">
          <img src="asset/img/Rahim.png" alt="Profile Picture" />
          <h2>Rahiim Tahajjadan Zhaahir Haq</h2>
          <p>Fullstack Developer</p>
        </div>
      </div>

      <h1 style="text-align: center;">THE PROJECTS</h1>
      <div class="container">
        <div class="project-cards" id="projectCardsContainer">
          {{#each projects}}
            <div class="project-card">
              <!-- Path untuk gambar proyek -->
              <a href="/project-detail/{{this.id}}" style="text-decoration: none;">
              <img
                src="/public/uploads/{{this.image}}"
                alt="{{name}}"
                class="project-image"
              />
              <h2>{{this.name}}</h2>
              </a>
              <p><strong>Duration:</strong> {{this.duration}} days</p>
              <p><strong>Technologies:</strong> {{this.technologies}}</p>
              <p><strong>Author:</strong> {{this.authorName}}</p>
              
              <!-- Tombol Edit dan Delete -->
              {{#if (eq this.author_id ../userId)}}
                <button
                  onclick="window.location.href='/edit-project/{{this.id}}'"
                  class="edit-btn"
                >Edit</button>
                <form
                  action="/delete-project/{{this.id}}"
                  method="POST"
                  style="display:inline;"
                >
                  <button type="submit" class="delete-btn">Delete</button>
                </form>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="asset/js/nav.js"></script>
  </body>
</html>