<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="stylesheet" href="/asset/css/edit-project.css" />
    <link rel="stylesheet" href="/asset/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
    <nav class="navbar">
      <div class="navbar-left">
        <img
          src="/asset/img/dumbways.png"
          alt="Dumbways Logo"
          style="width: 70px;"
        />
        <a href="/" class="nav-button">Home</a>
        <a href="/project" class="nav-button">Add Project</a>
        <a href="/testimonial" class="nav-button">Testimonials</a>
      </div>

      <div class="navbar-right">
        {{#if isLoggedIn}}
          <span class="welcome-message">Selamat Datang, {{userName}}!</span>
          <a href="/logout" class="nav-button">Logout</a>
        {{else}}
          <a href="/login" class="nav-button">Login</a>
          <a href="/register" class="nav-button">Register</a>
        {{/if}}
        <a href="/contact" class="button">Contact Me</a>
      </div>
      <!-- Hamburger icon for mobile -->
      <div class="hamburger-menu">
        <i class="fas fa-bars" onclick="toggleHamburgerMenu()"></i>
      </div>
    </nav>

    <!-- Hamburger menu container for mobile view -->
    <div id="hamburger-container" class="hamburger-container hide">
      <h1 class="hamburger-container-item hamburger-active">
        <a style="color: white; text-decoration: none;" href="/"> Home </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/project">
          Add Project
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/contact">
          Contact Me
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none" href="/testimonial">
          Testimonials
        </a>
      </h1>
      {{#unless isLoggedIn}}
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/login">
            Login
          </a>
        </h1>
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/register">
            Register
          </a>
        </h1>
      {{/unless}}
    </div>
    <div class="container">
      <h1>Edit Project</h1>
      <form
        action="/edit-project/{{id}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="title">Project Title:</label>
          <input
            type="text"
            id="title"
            name="name"
            value="{{project.name}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="startDate">Start Date:</label>
          <input
            type="date"
            id="startDate"
            name="start_date"
            value="{{project.start_date}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDate">End Date:</label>
          <input
            type="date"
            id="endDate"
            name="end_date"
            value="{{project.end_date}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            required
          >{{project.description}}</textarea>
        </div>
        <div class="form-group">
          <label>Technologies:</label>
          <div class="tech-stack">
            <label><input type="checkbox" name="technologies" value="HTML" />
              HTML
            </label>
            <label><input type="checkbox" name="technologies" value="CSS" />
              CSS
            </label>
            <label><input type="checkbox" name="technologies" value="JS" /> JS </label>
            <label><input type="checkbox" name="technologies" value="TypeScript" />
              TypeScript
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="image">Upload Image:</label>
          <input type="file" id="image" name="image" />
          <img
            src="/uploads/{{project.image}}"
            alt="{{project.title}}"
            class="preview"
          />
        </div>
        <button type="submit" class="btn">Update</button>
        <a href="/" class="btn cancel">Cancel</a>
      </form>
    </div>
  </body>
</html>