<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Detail</title>
    <link rel="stylesheet" href="/asset/css/project-detail.css" />
    <link rel="stylesheet" href="/asset/css/nav.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <img
          src="/asset/img/dumbways.png"
          alt="Dumbways Logo"
          style="width: 70px;"
        />
        <a href="/" class="nav-button">Home</a>
        <a href="/project" class="nav-button">Add Project</a>
        <a href="/testimonial" class="nav-button">Testimonials</a>
      </div>

      <div class="navbar-right">
        {{#if isLoggedIn}}
          <span class="welcome-message">Selamat Datang, {{username}}!</span>
        {{else}}
          <a href="/login" class="nav-button">Login</a>
          <a href="/register" class="nav-button">Register</a>
        {{/if}}
        <a href="/contact" class="button">Contact Me</a>
      </div>
      <!-- Hamburger icon for mobile -->
      <div class="hamburger-menu">
        <i class="fas fa-bars" onclick="toggleHamburgerMenu()"></i>
      </div>
    </nav>

    <!-- Hamburger menu container for mobile view -->
    <div id="hamburger-container" class="hamburger-container hide">
      <h1 class="hamburger-container-item hamburger-active">
        <a style="color: white; text-decoration: none;" href="/"> Home </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/project">
          Add Project
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/contact">
          Contact Me
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none" href="/testimonial">
          Testimonials
        </a>
      </h1>
      {{#unless isLoggedIn}}
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/login">
            Login
          </a>
        </h1>
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/register">
            Register
          </a>
        </h1>
      {{/unless}}
    </div>
    <main>
        <section class="project-detail">
            <h1>{{project.name}}</h1>
            <div class="project-content">
                <img src="{{project.image}}" alt="{{project.title}}">
                <div class="project-info">
                    <h2>Duration</h2>
                    <p>{{project.start_date}} - {{project.end_date}}</p>
                    <p>{{project.duration}}</p>
                    
                    <h2>Technologies</h2>
                    <div class="technologies">
                        {{#each project.technologies}}
                            <span>{{this}}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
            <p>{{project.description}}</p>
        </section>
    </main>

    {{!-- <script src="asset/js/project-detail.js"></script> --}}
    <script src="asset/js/nav.js"></script>
  </body>
</html>